.countdown-wrapper {
  display: inline-flex;
  padding: 18px 582.5px;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-white-1);
  width: 100%;

  &__contents {
    display: flex;
    align-items: center;
    gap: 60px;
    .time {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        color: var(--clr-darkblue-1);
        text-align: center;
        font-size: 50px;
        font-weight: 500;
        line-height: 125%;
      }

      span {
        color: var(--clr-darkblue-1);
        text-align: center;
        font-weight: 500;
        line-height: 125%;
      }
    }
  }

  .days,
  .hours,
  .minutes {
    border-right: 1px solid var(--clr-darkblue-1);
    padding-right: 60px;
  }
}

@media screen and (max-width: 768px) {
  .countdown-wrapper {
    padding: 18px 0;
    &__contents {
      gap: 20px;
      .time {
        p {
          font-size: 2rem;
        }

        span {
          font-size: 0.8rem;
        }
      }
    }

    .days,
    .hours,
    .minutes {
      padding-right: 20px;
    }
  }
}
