.hero {
  background-image: url("../../assets/images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 1rem;
  transition: var(--transition);

  &__container {
    &--contents {
      flex-direction: column;
      gap: 2rem;
      &__logo {
        align-self: flex-start;
        padding-top: 2rem;
        @media screen and (max-width: 768px) {
          align-self: center;
          img {
            width: 174px;
            height: 30px;
          }
        }
      }

      &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (max-width: 768px) {
          margin-top: 3rem;
        }
        h1 {
          width: 400px;
          color: var(--clr-white-1);
          text-align: center;
          font-size: 3.8rem;
          line-height: 1.2;
          @media screen and (max-width: 768px) {
            width: 100%;
            font-size: 2.5rem;
          }
        }
        p {
          color: var(--clr-green-5);
          text-align: center;
          font-size: 1rem;
          line-height: 1;
        }
      }
    }
    &--countdown {
      margin-top: 2rem;
      flex-direction: column;
      .countdown-text {
        color: var(--clr-white-1);
        text-align: center;
        line-height: 125%;
        margin: 2rem 0 0.5rem;
      }
    }

    &--form {
      margin-top: 2rem;
    }
  }
}
