.btn {
  display: flex;
  padding: 12px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
}

.btn-join {
  width: 164px;
  color: var(--clr-green-5);
  background-color: var(--clr-darkblue-3);
  border: none;
}

.btn-login {
  background: none;
  border: 1px solid var(--clr-darkblue-3);
  color: var(--clr-darkblue-3);
}

@media screen and (max-width: 650px) {
  .btn-join,
  .btn-login {
    width: 300px;
  }
}
