/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/
  --clr-white-1: #ffffff;
  --clr-black-1: #cccccc;
  --clr-black-2: #aaaaaa;
  --clr-green-5: #bcf1ce;
  --clr-darkblue-3: #0a4c68;
  --clr-darkblue-1: #073345;

  /*========== Font-size/family ==========*/
  --body-font: "DM Sans", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.853rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weights ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margins ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 200;

  /*========== constant css ==========*/
  --transition: all 0.3s ease-in-out;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--clr-black-6);
  background-color: rgba(5, 31, 43, 0.9);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/*========== LAYOUT ==========*/
.container {
  max-width: 1200px;
  width: calc(100% - 2rem);
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: calc(100% - 2rem);
  }
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0rem;
  border-radius: 0.5rem;
  background-color: var(--clr-primary-1);
  transition: var(--transition);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary-1);
  border-radius: 0.5rem;
}
