/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/
  --clr-black-1: #cccccc;
  --clr-black-2: #aaaaaa;
  --clr-black-3: #808080;
  --clr-black-4: #555555;
  --clr-black-5: #2a2a2a;
  --clr-black-6: #000000;

  --clr-green-1: #679c79;
  --clr-green-2: #81c398;
  --clr-green-3: #9beab6;
  --clr-green-4: #acedc2;
  --clr-green-5: #bcf1ce;

  --clr-blue-1: #025556;
  --clr-blue-2: #026b6b;
  --clr-blue-3: #038081;
  --clr-blue-4: #2d9596;
  --clr-blue-5: #57aaab;

  --clr-darkblue-1: #073345;
  --clr-darkblue-2: #083f57;
  --clr-darkblue-3: #0a4c68;
  --clr-darkblue-4: #336a81;
  --clr-darkblue-5: #5c889a;

  /*========== Font-size/family ==========*/
  --body-font: "DM Sans", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.853rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weights ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margins ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 200;

  /*========== constant css ==========*/
  --transition: all 0.6s ease-in-out;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--clr-black-6);
  background-color: #f9f9f9;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 1rem;
}

.d-section {
  margin-top: 4rem;
}
/*========== LAYOUT ==========*/
.container {
  max-width: 1400px;
  width: calc(100% - 2rem);
  margin-inline: auto;
}
.d-container {
  max-width: 1300px;
  width: calc(100% - 2rem);
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0rem;
  border-radius: 0.5rem;
  background-color: var(--clr-black-1);
  transition: var(--transition);
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-darkblue-1);
  border-radius: 0.5rem;
}

/*========== SCROLL TOP  ==========*/
/* Scroll top */
.scrolltop {
  position: fixed;
  right: 2rem;
  margin-bottom: 1.5rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid var(--clr-primary-0);
  background: hsl(0deg 0% 100%);
  box-shadow: var(--clr-primary-0) 3px 3px;
  color: var(--clr-primary-0);
  z-index: 10;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  cursor: pointer;
}

.scrolltop:hover {
  color: rgb(255, 255, 255);
  background: rgb(1, 12, 47);
}

/* Show scroll top */
.show-scroll {
  visibility: visible;
  bottom: 1rem;
}

/* =============== LOADING ===============*/
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.spinner {
  height: 2rem;
  width: 2rem;
  fill: var(--clr-primary-10);
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
